In [1]:
import sqlite3
con = sqlite3.connect("MCU.db")
cur = con.cursor()

In [2]:
cur.execute("CREATE TABLE MCU_Actors(actor_id, actor_name, movie_id )")

In [3]:
actor_data = [
(1, 'Robert Downey Jr.', 1001),
(2, 'Chris Evans', 1005),
(3, 'Mark Ruffalo', 1006),
(4, 'Chris Hemsworth', 1004),
(5, 'Scarlett Johansson', 1006),
(6, 'Jeremy Renner', 1006),
(7, 'Tom Hiddleston', 1004),
(8, 'Clark Gregg', 1001),
(9, 'Paul Rudd', 1012),
(10, 'Benedict Cumberbatch', 1014)
]
# Insert actor data into the MCU_Actors table
cur.executemany("INSERT OR IGNORE INTO MCU_Actors VALUES(?,?,?)", actor_data)
con.commit()